<h1>Books</h1>

<table class="teble">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>

<h4>New book</h4>
<%= form_with model: @book do |f| %>
 <h5>title</h5>
 <%= f.text_field :title %>

 <h5>body</h5>
 <%= f.text_area :body %>

 <div><%= f.submit'Create Book' %></div>
 <% end %>
